html{
    min-height:100%;
    background: linear-gradient(#99CCCC, #9966ff);
}
body {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #9977ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.header{
    color: #9966CC;
    width: 100%;
    font-size: 12px;
}

.left {
    order: 1;
    width: 150px;
}

.gameArea {
    order: 2;
    max-width: 600px;
    margin: 5px;
 }

.right {
    order: 3;
    width: 150px;
}

.footer {
    order: 4;
    width: 100%;
    color: #9977ff;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 1px;
    font-size: 10px;
}

.gameBoard {
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
}

.gameBoard canvas {
    width: 100%;
    height: 100%;
}

.box {
    list-style: none;
    float: left;
    width: 33.333%;
    background: #f1f1f1;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.box:hover {
    background: #fff;
}

.reset-game {
    height: 30px;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    background: #ff99cc;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5px;
}

.reset-game:hover {
    background: #2c3e52;
}

.invisible{
    display: none;
}

.winnerStatus{
    color: #ed4e6e;
    font-size: 3em;
}

.scoreHighlight{
    color: #ff6600;
    font-size: 1.5em;
}

[data-box-state="movingDisabled"] {
    cursor: not-allowed;
}
[data-box-state="movingDisabled"]:hover{
    background: #f1f1f1;
}

[data-box-state="highlightAsWinningBox"], [data-box-state="highlightAsWinningBox"]:hover{
    background: #ffff99;
    cursor: not-allowed;
}

[data-box-state="playerX"]:hover{
    cursor: url(icons/cross.png), pointer;
}

[data-box-state="playerO"]:hover{
    cursor: url(icons/circle.png), pointer;
}

@media (max-width: 793px) {
    .punctation{
        color:#990099;}

    .reset-game{
        font-size: 2em;
        margin-top: 1em;
    }
    .status {
        font-size: 0.75em;
    }
    .winnerStatus{
        font-size: 2em;
    }
    .punctation{
        font-size: 1.5em;
        color:#800080;
    }
    .right{
        line-height: 0.75;
    }
    .left{
        line-height: 0.75;
    }
}

@media (max-width: 480px) {
    .player{
        font-size: 1em;
    }
    .punctation{
        color:#660033;
    }
}

@media all and (min-width: 794px){
    .gameArea {
        flex: 2 0px; }
}