body {
    height: 900px;
    padding: 2em;
    background: linear-gradient(#99CCCC, #9966ff);
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #9977ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container > * {
    padding: 2px;
    flex: 1 100%;
}

.header{
    color: #9966CC;
}

.left, .right{
    max-width: 150px;
}

.left {
    order: 1;
}

.right {
    order: 3;
}

.gameArea {
    max-width: 600px;
    margin-bottom: 10px;
    flex: 3 0px;
    order: 2;
 }

.footer {
    order: 4;
}

.gameBoard {
    position: relative;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
}

.gameBoard canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box {
    list-style: none;
    float: left;
    width: 33.333%;
    background: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: border-box;
}

.box:hover {
    background: #fff;
}

.reset-game {
    height: 30px;
    width: 130px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 10px;
    border: none;
    background: #ff99cc;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5px;
}

.reset-game:hover {
    background: #2c3e52;
}

.invisible{
    display: none;
}

.winnerStatus{
    width: 5%;
    color: #ed4e6e;
    font-weight: bold;
    font-size:30px;
}

.scoreHighlight{
    color: #ff6600;
    font-size: 20px;
    font-weight: bold;
}

[data-box-state="movingDisabled"] {
    cursor: not-allowed;
}
[data-box-state="movingDisabled"]:hover{
    background: #f1f1f1;
}

[data-box-state="highlightAsWinningBox"], [data-box-state="highlightAsWinningBox"]:hover{
    background: #ffff99;
    cursor: not-allowed;
}

[data-box-state="playerX"]:hover{
    cursor: url(icons/cross.png), pointer;
}

[data-box-state="playerO"]:hover{
    cursor: url(icons/circle.png), pointer;
}