body {
   
    height: 900px;
    background: linear-gradient(#99CCCC, #9966ff);
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #9966CC;
}

h2 {
    color: #9977ff;
}

.container {
    position: relative;
    padding: 0 250px;
}

.gameArea {
    position: relative;
    float: left;
    width: 100%
}

#gameBord {
    position: relative;
    width: 450px;
    height: 450px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10px;
}

#gameBord canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box {
    list-style: none;
    float: left;
    width: 150px;
    height: 150px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: border-box;
}

.box:hover {
    background: #fff;
}

#reset-game {
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    background: #ff99cc;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5px;
}

#reset-game:hover {
    background: #2c3e52;
}

.left {
    position: relative;
    float: left;
    width: 230px;
    right: 250px;
    margin-left: -100%;
    padding: 0 10px;
}

.right {
    float: left;
    width: 230px;
    margin-right: -250px;
    padding: 0 10px;
}

.invisible{
    display: none;
}

.status{
    width: 450px;
    height: 50px;
    color: #ed4e6e;
    font-weight: bold;
    font-size:50px;
    margin: 0 auto;
    padding: 0;  
}

@media (min-width: 768px) and (max-width: 979px) {
    #gameBord {
        height: 300px;
        width: 300px;
    }
    .box {
        height: 100px;
        width: 100px;
    }
    .status{
        position: static;
        text-align: center;
        font-size: 30px;
    }
    
}

@media (max-width: 767px) {
    .container {
        position: static;
        padding: 0px;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
    .gameArea {
        position: static;
        float: none;
    }
    .player {
        font-size: 12px;
    }
    #gameBord {
        height: 300px;
        width: 300px;
    }
    .box {
        height: 100px;
        width: 100px;
    }
    .left {
        position: static;
        margin: auto;
        float: none;
        text-align: center;
    }
    .right {
        position: static;
        margin: auto;
        float: none;
        text-align: center;
    }
    .status{
       
       position: static;
       text-align: center;
       font-size: 30px;
}
}

@media (max-width: 480px) {
    body {
        height: 600px;
    }
    h1 {
        font-size: small;
    }
    h2 {
        font-size: smaller;
    }
    #gameBord {
        height: 150px;
        width: 150px;
    }
    .box {
        height: 50px;
        width: 50px;
    }
    .player {
        font-size: x-small;
    }
    .status{
        font-size: 20px;
    }
}
