body{
    margin-top: 40px;
    background: #99CCCC;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    text-align:center;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f1f1f1;
}

h2{
    color: #f1f1f1;
}

.container {
    margin: 0 auto;
    width: 400px;
}